<md-dialog aria-label="course Edit" class="dialogContainer" flex="50">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialogTitle}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content class="courseContentContainer">
            <div>
                <md-input-container class="" ng-repeat="item in instanceInfo">
                    <label>{{item.Title}}</label>
                    <input id="title" ng-model="item.Value">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions class="propertyButton" layout="row">
            <span flex></span>
            <md-button class="courseCancelBtn"
                       ng-click="Cancel()">
                Cancel
            </md-button>
            <md-button class="courseSaveBtn"
                       ng-click="SaveProperty()">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>