<md-dialog aria-label="dialog" id="mdDialog" class="deleteDialog">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-icon md-svg-icon="actions:delete"></md-icon>
            <h3> Deactivate User </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-icon md-svg-icon="alert:warning"></md-icon>
            <h2 class="md-title">Are you sure you want to deactivate this user ?</h2>
            <p>
                <span class="error">
                    This action can not be undone!
                </span>
            </p>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="Deactivate( Id )" class="md-warn md-raised md-hue-2">
            Deactivate
        </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>