<div class="options-inner">
    <div class="options-mask" ng-class="{show:!otc.enableAddOption}"></div>
    <div layout="row">
        <label class="flex-100">
            Options
            <md-icon ng-class="md-18" md-svg-src="actions:language"></md-icon>
        </label>

        <div class="helpIcon">
            <a href=""
               title="Options"
               data-container="body"
               data-content="Options are available when Field type of Checkbox or
                Radio buttons are selected."
               data-toggle="popover">
                <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
            </a>
        </div>
    </div>
    <div class="optionsTable">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Sort</th>
                <th>Display Text</th>
                <th>Value</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody data-ng-model="otc.optionsTableData"
                   as-sortable="otc.sortableListeners">
            <tr data-ng-repeat="option in otc.optionsTableData | orderBy:otc.getSortKey()"
                as-sortable-item
                ng-cloak>
                <td as-sortable-item-handle style="cursor: move;">
                    <md-icon class="reorder" md-svg-src="actions:reorder"></md-icon>
                </td>
                <td>
                    <form name="editForm" class="form" ng-if="option.edit">
                        <md-input-container>
                            <label>Display Text</label>
                            <input name="DisplayText" ng-model="option[otc.getDisplayKey()]" required>

                            <div ng-messages="editForm.DisplayText.$error">
                                <div ng-message="required">This field is required.</div>
                            </div>
                        </md-input-container>
                    </form>

                    <span ng-if="!option.edit">
                {{ option[otc.getDisplayKey()] || "null"}}
                <p ng-if="otc.getLanguage()" class="subtext">
                    {{ option.defaultDisplayText }}
                </p>
            </span>
                </td>
                <td>
                    <form name="editForm" class="form" ng-if="option.edit">
                        <md-input-container>
                            <label>Value</label>
                            <input name="Value"
                                   ng-pattern="otc.commaRestriction"
                                   ng-model="option[otc.getValueKey()]"
                                   required>
                            <div ng-messages="editForm.Value.$error">
                                <div ng-message="required">This field is required.</div>
                                <div ng-message="pattern">No commas are allowed.</div>
                            </div>
                        </md-input-container>
                    </form>
                    <span ng-if="!option.edit">
                {{ option[otc.getValueKey()] }}
            </span>
                </td>
                <td style="white-space: nowrap">
                    <div class="actionButtons" ng-if="option.edit">
                        <md-button aria-label="Save" ng-click="otc.saveOption(option)"
                                   title="Save"
                                   class="save">
                            <md-icon class="saveIcon"
                                     md-svg-src="content:save"></md-icon>
                        </md-button>
                        <md-button
                                aria-label="Cancel" ng-click="otc.cancelOption($index)"
                                title="Cancel"
                                class="cancel">
                            <md-icon class="cancelIcon"
                                     md-svg-src="navigation:cancel"></md-icon>
                        </md-button>
                    </div>
                    <div ng-if="!option.edit">
                        <md-button aria-label="Edit" ng-click="otc.editOption($index)"
                                   ng-disabled="!otc.enableAddOption"
                                   title="Edit"
                                   class="edit">
                            <md-icon class="editIcon"
                                     md-svg-src="editor:mode_edit"></md-icon>
                        </md-button>
                        <md-button aria-label="Delete"
                                   ng-click="otc.DeleteOption($index, option, $event)"
                                   ng-disabled="!otc.enableAddOption"
                                   title="Delete"
                                   class="delete">
                            <md-icon class="deleteIcon"
                                     md-svg-src="actions:delete"></md-icon>
                        </md-button>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div class="addOptionButton">
        <md-button aria-label="Add" class="md-default addOption"
                   ng-show="otc.enableAddOption"
                   ng-click="otc.addOption()">
            <md-icon class="addIcon" md-svg-src="content:add_circle_outline"></md-icon>
            Add Option
        </md-button>
    </div>
</div>