<div class="block-item grid-block" layout-id="{{ widget.data.LayoutId }}"
     ng-style="{ 'display': widget.setVisibilityInPreview() }">
    <div class="block-tools" ng-if="!widget.previewMode && !widget.hideTools">
        <form-element-tools
                preview-mode="widget.previewMode"
                parent-element="widget.$element"
                property-data="widget.data"
                properties-dialog-title="Email"
                remove-dialog-title="Email"
                on-update-property="widget.updateProperty"
                on-remove="widget.remove"
                on-move-up="widget.moveUp"
                on-move-down="widget.moveDown">
        </form-element-tools>
    </div>
    <form name="emailWidgetForm" class="main" ng-class="{'isReviewing': widget.disableRadioBtn()}">
        <h4 class="widget-name">
            Email Addresses
            <span class="required" ng-if="widget.asterisk()">*</span>
        </h4>
        <div class="mainList" flex>
            <div class="mainTable" flex>
                <table class="table table-striped table-bordered datatable table-hover"
                       datatables-inline-editor="datatablesInlineEditor"
                       on-item-added="widget.onEmailAdded()"
                       on-item-removed="widget.onEmailRemoved()"
                       on-item-updated="widget.onEmailUpdated()">
                </table>
            </div>
            <div flex>
                <div class="addBtn" ng-class="{ 'endOfGuardianWidget': widget.isPartOfGuardian }">
                    <md-button class="md-button addEmail"
                               title="Add Email"
                               ng-if="!widget.isReviewing"
                               ng-click="datatablesInlineEditor.addItem()"
                               ng-disabled="datatablesInlineEditor.adding || datatablesInlineEditor.isBtnDisabled">
                        <md-icon class="addIcon" md-svg-src="content:add_circle"></md-icon>
                        Add Email
                    </md-button>
                </div>
            </div>
        </div>
    </form>
</div>