<div class="widget-guardian block-item grid-block" layout-id="{{ widget.data.LayoutId }}"
     ng-style="{ 'display': widget.setVisibilityInPreview() }">
    <div class="block-tools" ng-if="!widget.previewMode && !widget.hideTools">
        <form-element-tools
                preview-mode="widget.previewMode"
                parent-element="widget.$element"
                property-data="widget.data"
                properties-dialog-title="Guardian"
                remove-dialog-title="Guardian"
                on-update-property="widget.updateProperty"
                on-remove="widget.remove"
                on-move-up="widget.moveUp"
                on-move-down="widget.moveDown">
        </form-element-tools>
    </div>
    <div class="widget-inner" layout="column">
        <table class="table table-striped table-bordered datatable table-hover"
               datatables-inline-editor="widget.guardiansTableConfig">
        </table>

        <div class="guardian-properties-box guardian-name-relationship" flex="50">
            <h4 class="widget-name">Name & Relationship</h4>
            <div class="widget-inner" ng-class="{'isReviewing': widget.disableAvailableElem()}">
                <form name="guardianForm" layout="column">
                    <div layout="row" layout-sm="column">
                        <md-input-container>
                            <label>Prefix</label>
                            <input type="text" name="Prefix"
                                   ng-disabled="!widget.guardian"
                                   ng-model="widget.guardian.Prefix">
                        </md-input-container>
                        <md-input-container>
                            <label>First Name</label>
                            <input type="text" name="FirstName" required
                                   ng-disabled="!widget.guardian"
                                   ng-model="widget.guardian.FirstName">
                            <div ng-messages="widget.guardianForm.FirstName.$error">
                                <div ng-message="required">Required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Middle Name</label>
                            <input type="text" name="MiddleName"
                                   ng-disabled="!widget.guardian"
                                   ng-model="widget.guardian.MiddleName">
                        </md-input-container>
                        <md-input-container>
                            <label>Last Surname</label>
                            <input type="text" name="LastName" required
                                   ng-disabled="!widget.guardian"
                                   ng-model="widget.guardian.LastName">
                            <div ng-messages="widget.guardianForm.LastName.$error">
                                <div ng-message="required">Required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Suffix</label>
                            <input type="text" name="Suffix"
                                   ng-disabled="!widget.guardian"
                                   ng-model="widget.guardian.Suffix">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column">
                        <md-input-container flex="50">
                            <label>Relationship to Student</label>
                            <md-select ng-model="widget.guardian.RelationshipId"
                                       ng-disabled="!widget.guardian"
                                       name="Relationship" required>
                                <md-option ng-repeat="relationship in widget.relationships"
                                           ng-disabled="widget.isReviewing"
                                           value="{{relationship.RelationshipId}}">
                                    {{relationship.Title}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="widget.guardianForm.Relationship.$error">
                                <div ng-message="required">Required.</div>
                            </div>
                        </md-input-container>
                        <div flex="50">
                            <md-datepicker name="DateOfBirth"
                                           ng-disabled="!widget.guardian"
                                           ng-model="widget.guardian._DateOfBirth"
                                           md-placeholder="Date of Birth"></md-datepicker>
                            <div class="datepicker-messages" ng-messages="widget.guardianForm.DateOfBirth.$error">
                                <div ng-message="required">Required.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="guardian-properties-box guardian-physical-address ">
            <widget-physical-address input-widget-data="widget.addressWidgetData"
                                     preview-mode="widget.previewMode"
                                     hide-tools="true"
                                     on-address-added="widget.onAddressAdded"
                                     on-address-removed="widget.onAddressRemoved"
                                     on-address-updated="widget.onAddressUpdated"
                                     asterisk>
            </widget-physical-address>
        </div>
        <div class="guardian-properties-box guardian-phone-number">
            <widget-phone input-widget-data="widget.phoneWidgetData"
                          preview-mode="widget.previewMode"
                          hide-tools="true"
                          on-phone-added="widget.onPhoneAdded"
                          on-phone-removed="widget.onPhoneRemoved"
                          on-phone-updated="widget.onPhoneUpdated"
                          asterisk>
            </widget-phone>
        </div>
        <div class="guardian-properties-box guardian-email-address">
            <widget-email input-widget-data="widget.emailWidgetData"
                          preview-mode="widget.previewMode"
                          hide-tools="true"
                          on-email-added="widget.onEmailAdded"
                          on-email-removed="widget.onEmailRemoved"
                          on-email-updated="widget.onEmailUpdated"
                          asterisk>
            </widget-email>
        </div>
    </div>
</div>