<div class="block-item grid-block" layout-id="{{ widget.data.LayoutId }}"
     ng-style="{ 'display': widget.setVisibilityInPreview() }">
    <div class="block-tools" ng-if="!widget.previewMode && !widget.hideTools">
        <form-element-tools
                preview-mode="widget.previewMode"
                parent-element="widget.$element"
                property-data="widget.data"
                properties-dialog-title="Physical Address"
                remove-dialog-title="Physical Address"
                on-update-property="widget.updateProperty"
                on-remove="widget.remove"
                on-move-up="widget.moveUp"
                on-move-down="widget.moveDown">
        </form-element-tools>
    </div>
    <div class="widget-inner" id="addressWidgetInner">
        <h4 class="widget-name">
            Physical Addresses
            <span class="required" ng-if="widget.asterisk()">*</span>
        </h4>
        <md-radio-group ng-model="widget.selectedAddress" ng-if="widget.data.Addresses.length">
            <div class="row">
                <div flex layout='row' layout-padding layout-align="start center">
                    <div flex style="max-width:200px;">
                        <strong>Label</strong>
                    </div>
                    <div flex>
                        <strong>Address</strong>
                    </div>
                    <div flex class="primary">
                        <strong>Primary</strong>
                    </div>
                    <div flex class="action" ng-show="!widget.isReviewing">
                        <strong>Action</strong>
                    </div>
                </div>
            </div>
            <div ng-repeat="address in widget.data.Addresses" class="row">
                <div flex layout='row' layout-padding layout-align="start center">
                    <div flex style="max-width:200px;">
                        <pre class="address-title">{{address.Title}}</pre>
                    </div>
                    <div flex>
                        <pre>{{widget.addressString(address)}}</pre>
                    </div>
                    <md-radio-button flex class="md-primary" aria-label="primary"
                                     ng-disabled="widget.isReviewing" ng-value="address">
                    </md-radio-button>
                    <div flex class="md-action" ng-show="!widget.isReviewing">
                        <md-button class="action-btn" aria-label="Edit"
                                   ng-click="widget.editAddress($index)"
                                   ng-disabled="widget.isBtnDisabled"
                                   title="Edit">
                            <md-icon class="editIcon edit"
                                     md-svg-src="editor:mode_edit"></md-icon>
                        </md-button>
                        <md-button class="action-btn delete" aria-label="Delete"
                                   ng-click="widget.deleteAddress($index)"
                                   ng-disabled="widget.isBtnDisabled"
                                   title="Delete">
                            <md-icon class="deleteIcon delete" md-svg-src="actions:delete"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-radio-group>
        <p ng-if="widget.data.Addresses.length==0">
            <!-- No address is found -->
        </p>
        <md-button class="md-button addAddress text-success"
                   ng-if="!widget.isReviewing"
                   ng-click="widget.addAddress()"
                   ng-disabled="widget.isBtnDisabled">
            <md-icon class="addIcon text-success" md-svg-src="content:add_circle"></md-icon>
            Add Address
        </md-button>
    </div>
</div>