<md-dialog aria-label="Validate dialog" ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h3 flex>USPS Validation Response</h3>
            <md-button class="md-icon-button" ng-click="dialog.closeDialog()">
                <md-icon md-svg-src="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <p ng-if="dialog.addressValidating">Validating...</p>
        <ul ng-if="!dialog.addressValidating && dialog.addressIsValid">
            <li>{{dialog.validatedAddress.Address1}}</li>
            <li>{{dialog.validatedAddress.Address2}}</li>
            <li>{{dialog.validatedAddress.Address3}}</li>
            <li>{{dialog.validatedAddress.Locality}}</li>
            <li>{{dialog.validatedAddress.RegionCode}}</li>
            <li>{{dialog.validatedAddress.PostalCode}}</li>
            <li>{{dialog.validatedAddress.CountryCode}}</li>
        </ul>
        <p class="address-invalid" ng-if="!dialog.addressValidating && !dialog.addressIsValid">
            {{dialog.message}}
        </p>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <div class="" ng-if="!dialog.addressValidating">
            <md-button class="md-raised md-primary" flex
                       ng-if="dialog.addressIsValid"
                       ng-click="dialog.CreateWithValidated()">
                Create with validated
            </md-button>
            <md-checkbox ng-model="dialog.addressForceValid"
                         ng-if="!dialog.addressIsValid"
                         aria-label="The address entered is valid"
                         id="addressForceValidChk">
                The address entered is valid.
            </md-checkbox>
            <md-button class="md-raised md-primary" flex
                       ng-if="!dialog.addressIsValid"
                       ng-disabled="!dialog.addressForceValid"
                       ng-click="dialog.CreateAsEntered()"
                       id="addressForceValidBtn">
                Create as entered
            </md-button>
            <md-button class="md-raised md-primary" flex
                       ng-if="!dialog.addressIsValid"
                       ng-click="dialog.closeDialog()"
                       id="addressIsValidBtn">
                Correct address
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>