<!-- TextBox DONE-->
<div layout ng-if="fieldTypeId == 1">
    <md-input-container class="md-block">
        <form name="editForm">
            <label class="magicFieldAttributesTitle title">{{fieldTitle}}</label>
            <input type="{{isBooleanTrue(password) && !showPassword ? 'password':'text'}}"
                   name="input"
                   class="field-type-text-box"
                   ng-model="field.Value" ng-change="EditChanged({{field.id}}, field.Value)"
                   ng-required="fieldRequired"
                   minlength="{{minimumValue}}"
                   maxlength="{{maximumValue}}"
                   ng-pattern="pattern"
                   ng-readonly="readOnly"
                   ng-disabled="isDisabled">
            <div ng-messages="editForm.input.$error" ng-if="fieldRequired">
                <div ng-message="required">Required.</div>
            </div>
            <p class="subtext">{{fieldHintText}}</p>
            <div flex ng-show="isBooleanTrue(password)">
                <md-checkbox md-no-ink aria-label="checkbox"
                             ng-model="showPassword"
                             ng-disabled="isDisabled == true || readOnly == true"
                             class="md-primary">
                    Show Password
                </md-checkbox>
            </div>
        </form>
    </md-input-container>
</div>

<!-- Number DONE -->
<md-input-container class="md-block md-icon-float"
                    ng-class="{'md-icon-left': field.currency}"
                    ng-if="fieldTypeId == 2">
    <label class="magicFieldAttributesTitle title">{{fieldTitle}}</label>
    <md-icon ng-if="field.currency" class="field-type-currency" md-svg-src="editor:attach_money"></md-icon>
    <input type="number" class="field-type-number"
           onchange="trimPreZero(this)"
           step="{{step}}"
           ng-model="field.Value"
           ng-change="EditChanged({{field.id}}, field.Value)"
           ng-blur="regularityNumber()"
           ng-readonly="readOnly"
           ng-disabled="isDisabled">
    <p class="subtext">{{fieldHintText}}</p>
    <!--min="{{minimumValue}}"-->
    <!--max="{{maximumValue}}"-->
</md-input-container>

<!-- TextArea DONE -->
<md-input-container class="md-block" ng-if="fieldTypeId == 3 && readonly == true">
    <label class="magicFieldAttributesTitle title"
           style="font-size: large;font-weight: bold;color:gray">{{fieldTitle}}</label>
    <textarea readonly md-no-autogrow class="field-type-textarea"
              ng-model="field.Value"
              ng-change="EditChanged({{field.id}}, field.Value)"
              rows="{{rows}}"
              ng-readonly="readOnly"
              ng-disabled="isDisabled"
              id="left_{{field.id}}">
    </textarea>
    <p class="subtext">{{fieldHintText}}</p>
</md-input-container>
<md-input-container class="md-block" ng-if="fieldTypeId == 3 && readonly == false">
    <label class="magicFieldAttributesTitle title"
           style="font-size: large;font-weight: bold;color:gray">{{fieldTitle}}</label>
    <textarea md-no-autogrow class="field-type-textarea"
              ng-model="field.Value"
              ng-change="EditChanged({{field.id}}, field.Value)"
              rows="{{rows}}"
              ng-readonly="readOnly"
              ng-disabled="isDisabled"
              id="right_{{field.id}}">
    </textarea>
    <p class="subtext">{{fieldHintText}}</p>
</md-input-container>

<!-- Rich Text DONE -->
<!--
Requirement:
    1. '../../../bower_components/tinymce-dist/tinymce.js',
       '../../../bower_components/angular-ui-tinymce/dist/tinymce.min.js',
    2. angular.module('yourApp', ['ui.tinymce']);
-->
<md-input-container class="magic-field-richtext md-block md-input-has-placeholder" ng-if="fieldTypeId == 4">
    <label class="magicFieldRichtextLabel title">{{fieldTitle}}</label>
    <textarea class="field-type-rich-text"
              ng-model="field.Value"
              rows="{{rows}}"
              ui-tinymce="tinymceOptions">
    </textarea>
    <div class="richtextOutput" ng-class="{show: isBooleanTrue(outputOnly)}"></div>
    <p class="subtext">{{fieldHintText}}</p>
</md-input-container>

<!-- Drop Down/List DONE -->
<!--
Requirement:
    '../forms/directives/fieldTypeDropdown.js',
    'fieldTypeDropdown.scss',
-->
<div ng-if="fieldTypeId == 5">
    <div layout="row" class="magic-field-dropdown">
        <div flex="100">
            <md-input-container class="md-block magicFieldDropdown" ng-if="isBooleanTrue(multiple)">
                <div class="magicFieldAttributesTitle title">{{fieldTitle}}</div>
                <br>
                <select class="magic-field-dropdown-multiple" flex multiple
                        ng-if="!readOnly"
                        ng-model="field.Value"
                        data-ng-attr-size="{{rows}}"
                        ng-disabled="isDisabled">
                    <option value="{{ item.Value }}"
                            ng-repeat="item in options | orderBy: 'SortOrder'">
                        {{item.DisplayText}}
                    </option>
                </select>
                <div ng-if="readOnly" ng-repeat="item in getDisplayText()">
                    <span class="checkbox-text-readonly">{{ item.DisplayText }}</span>
                </div>
            </md-input-container>
            <md-input-container class="md-block magicFieldDropdown" ng-if="!isBooleanTrue(multiple)">
                <div class="magicFieldAttributesTitle title">{{ fieldTitle }}</div>
                <br>
                <select class="magic-field-dropdown" flex
                        ng-model="field.Value"
                        ng-if="!readOnly"
                        ng-change="EditChanged(field.id, field.Value)"
                        ng-disabled="isDisabled">
                    <option value="{{ item.Value }}"
                            ng-repeat="item in options | orderBy: 'SortOrder'">
                        {{ item.DisplayText }}
                    </option>
                </select>
                <div ng-if="readOnly" ng-repeat="item in getDisplayText()">
                    <span class="checkbox-text-readonly">{{ item.DisplayText }}</span>
                </div>
            </md-input-container>
            <md-input-container class="md-block magicFieldDropdown" ng-if="isBooleanTrue(other) && !!field.OtherValue">
                <input type="text" flex placeholder="Other option" ng-model="field.OtherValue"
                       ng-readonly="readOnly"
                       ng-disabled="isDisabled">
            </md-input-container>
        </div>
    </div>
    <p class="subtext">{{fieldHintText}}</p>
</div>

<!-- Check box DONE -->
<div ng-if="fieldTypeId == 6">
    <div layout="column" ng-if="fieldTypeId == 6">
        <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
        <md-input-container class="md-block" ng-if="fieldTypeId == 6">
            <div layout="row" layout-wrap flex>
                <div flex="100" ng-repeat="item in options | orderBy: 'SortOrder'">
                    <md-checkbox class="field-type-check-box"
                                 ng-if="!readOnly"
                                 ng-checked="exists(item.Value, selected)"
                                 ng-click="onClickCheckBox(field.id, item.Value, selected)"
                                 ng-disabled="isDisabled">
                        {{ item.DisplayText }}
                    </md-checkbox>
                    <span class="checkbox-text-readonly" ng-if="readOnly" ng-show="exists(item.Value, selected)">
                        {{ item.DisplayText }}
                    </span>
                </div>
                <div flex="100" ng-if="isBooleanTrue(other)" layout="row" style="padding-top: 10px;">
                    <md-checkbox class="field-type-check-box" aria-label="check option"
                                 ng-if="!readOnly"
                                 ng-checked="exists(field.OtherValue, selected)"
                                 ng-click="toggle(field.OtherValue, selected)"
                                 ng-disabled="isDisabled">
                    </md-checkbox>
                    <md-input-container class="md-block" flex="70" ng-if="!readOnly">
                        <input type="text" class="field-type-drop-down-other-value" name="otherOption"
                               style="color: inherit;" placeholder="Other option"
                               ng-model="field.OtherValue"
                               ng-readonly="readOnly"
                               ng-disabled="isDisabled"
                               comma-filter>
                    </md-input-container>
                    <md-input-container class="md-block" ng-if="readOnly && !!field.OtherValue">
                        <input type="text" class="field-type-drop-down-other-value-readonly"
                               style="color: inherit;"
                               placeholder="Other option"
                               ng-model="field.OtherValue"
                               ng-readonly="readOnly"
                               ng-disabled="isDisabled">
                    </md-input-container>
                </div>
            </div>
        </md-input-container>
    </div>
    <p class="subtext">{{fieldHintText}}</p>
</div>

<!-- Radio DONE -->
<div ng-if="fieldTypeId == 7">
    <div layout="column" class="magic-field-radio" ng-if="!readOnly">
        <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
        <br>
        <md-radio-group class="md-block"
                        ng-model="field.RadioValue"
                        ng-change="EditChanged(field.id, field.Value)">
            <md-radio-button class="md-primary field-type-radio"
                             ng-value="item.Value"
                             aria-label="Option"
                             ng-repeat="item in options | orderBy: 'SortOrder'"
                             ng-disabled="isDisabled == true || readOnly == true">
                {{ item.DisplayText }}
            </md-radio-button>
            <div layout="row" ng-if="isBooleanTrue(other)">
                <md-radio-button class="md-primary"
                                 aria-label="Option"
                                 value="_other_option_"
                                 ng-disabled="isDisabled">
                </md-radio-button>
                <md-input-container flex>
                    <input type="text" class="field-type-radio-other-value"
                           placeholder="Other option"
                           ng-model="field.OtherValue"
                           ng-disabled="isDisabled">
                </md-input-container>
            </div>
            <p class="subtext">{{fieldHintText}}</p>
        </md-radio-group>
    </div>
    <div class="readonly-option-text" layout="column" ng-if="readOnly">
        <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
        <md-input-container>
            <span class="checkbox-text-readonly">{{ getDisplayText() }}</span>
        </md-input-container>
    </div>
</div>


<!-- Date DONE -->
<div ng-if="fieldTypeId == 8">
    <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label><br>
    <md-datepicker class="field-type-date" style="margin-left: -15px;"
                   ng-class="{'datePickerReadonly': readOnly}"
                   ng-model="field.DateValue"
                   ng-change="EditChanged(field.id, field.Value)"
                   md-placeholder="Enter date"
                   md-min-date="minimumDate"
                   md-max-date="maximumDate"
                   md-current-view="year"
                   ng-disabled="isDisabled">
    </md-datepicker>
    <p class="subtext">{{fieldHintText}}</p>
</div>


<!-- Time DONE -->
<div class="magic-field-time" ng-if="fieldTypeId == 9">
    <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
    <div class="block-group">
        <md-input-container class="time-hour" style="margin-right: 10px;">
            <label>Hour</label>
            <input type="number" class="field-type-time-hour"
                   ng-model="field.Hour"
                   ng-change="EditChanged(field.id, field.Hour)"
                   onchange="trimPreZero(this, 2)"
                   min="0"
                   max="13"
                   ng-readonly="readOnly"
                   ng-disabled="isDisabled">
            <!-- onchange="trimPreZero(this,2)" -->
        </md-input-container>
        <md-input-container class="time-minute">
            <label>Minute</label>
            <input type="number" class="field-type-time-minute"
                   ng-model="field.Minute" ng-change="EditChanged(field.id, field.Minute)"
                   onchange="trimPreZero(this, 2)"
                   min="0"
                   max="59"
                   step="{{step}}"
                   ng-readonly="readOnly"
                   ng-disabled="isDisabled">
            <!-- onchange="trimPreZero(this,2)" -->
        </md-input-container>
        <md-input-container class="time-ampm">
            <label>AM/PM</label>
            <md-select class="field-type-time-am-pm"
                       ng-model="field.AMPM"
                       ng-change="EditChanged(field.id, field.AMPM)"
                       ng-disabled="isDisabled">
                <md-option ng-disabled="readOnly" value="AM">AM</md-option>
                <md-option ng-disabled="readOnly" value="PM">PM</md-option>
            </md-select>
        </md-input-container>
        <p class="subtext">{{fieldHintText}}</p>
    </div>
</div>


<!-- DateTime DONE -->
<div ng-if="fieldTypeId == 10">
    <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
    <div>
        <div class="block-group">
            <md-input-container class="time-hour" style="margin-right: 10px;">
                <label>Hour</label>
                <input type="number" class="field-type-datetime-hour"
                       ng-model="field.Hour"
                       ng-change="EditChanged(field.id, field.Hour)"
                       onchange="trimPreZero(this, 2)"
                       min="0"
                       max="13"
                       ng-disabled="isDisabled">
            </md-input-container>
            <md-input-container class="time-minute">
                <label>Minute</label>
                <input type="number" class="field-type-datetime-minute"
                       ng-model="field.Minute"
                       ng-change="EditChanged(field.id, field.Minute)"
                       onchange="trimPreZero(this, 2)"
                       min="0"
                       max="59"
                       ng-readonly="readOnly"
                       ng-disabled="isDisabled">
            </md-input-container>
            <md-input-container class="time-ampm">
                <label>AM/PM</label>
                <md-select
                        ng-model="field.AMPM"
                        ng-change="EditChanged(field.id, field.AMPM)"
                        class="field-type-datetime-am-pm"
                        ng-disabled="isDisabled">
                    <md-option ng-disabled="readOnly" value="AM">AM</md-option>
                    <md-option ng-disabled="readOnly" value="PM">PM</md-option>
                </md-select>
            </md-input-container>
        </div>
        <md-datepicker class="field-type-datetime-date block-group"
                       ng-class="{'datePickerReadonly': readOnly}"
                       ng-model="field.Date"
                       ng-change="EditChanged(field.id, field.Date)"
                       ng-model-options="{timezone:'+000'}"
                       md-placeholder="Enter date"
                       md-min-date="minimumDate"
                       md-max-date="maximumDate"
                       md-current-view="year"
                       ng-disabled="isDisabled">
        </md-datepicker>
    </div>
    <p class="subtext">{{fieldHintText}}</p>
</div>

<!-- Date Range DONE-->
<div ng-if="fieldTypeId == 11">
    <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
    <form name="dateRangeForm" layout="row" layout-align="start center">
        <div class="magic-field-date-range" ng-class="{ 'isDisabled': isDisabled }">
            <div class="block-group">
                <div style="transform: translate3d(0, 10px, 0); margin-bottom: 10px;" class="startDate dateLabel">Start
                    Date:
                </div>
                <md-datepicker class="field-type-date-range-start"
                               name="startDateField"
                               ng-class="{'datePickerReadonly': readOnly}"
                               ng-model="field.StartDate"
                               ng-model-options="{timezone:'+000'}"
                               ng-change="EditChanged(field.id, field.StartDate)"
                               md-placeholder="Start date"
                               md-min-date="minimumDate"
                               md-max-date="maximumStartDate"
                               md-current-view="year"
                               ng-disabled="isDisabled">
                </md-datepicker>
                <div class="dashTag" ng-show="isDisabled">—</div>
            </div>
            <div class="block-group">
                <div style="transform: translate3d(0, 10px, 0); margin-bottom: 10px;" class="endDate dateLabel">End
                    Date:
                </div>
                <div layout="column">
                    <md-datepicker class="field-type-date-range-end"
                                   name="endDateField"
                                   ng-class="{'datePickerReadonly': readOnly}"
                                   ng-model="field.EndDate"
                                   ng-model-options="{timezone:'+000'}"
                                   ng-change="EditChanged(field.id, field.EndDate)"
                                   md-placeholder="End date"
                                   md-min-date="minimumEndDate"
                                   md-max-date="maximumDate"
                                   md-current-view="year"
                                   ng-disabled="isDisabled">
                    </md-datepicker>
                </div>
            </div>
        </div>
    </form>
    <p class="subtext">{{fieldHintText}}</p>
</div>

<!-- Slider DONE -->
<div ng-if="fieldTypeId == 12">
    <div layout="column" class="magic-field-slider">
        <div class="label-item">
            <span class="md-body-1 magicFieldAttributesTitle title" style="color: gray;font-weight: bold;">{{fieldTitle}}</span>
        </div>
        <br>
        <div layout="row">
            <md-slider class="field-type-slider md-primary"
                       flex md-discrete
                       ng-model="field.Value"
                       ng-change="EditChanged(field.id, field.Value)"
                       min="{{minimumValue}}"
                       max="{{maximumValue}}"
                       step="{{step}}"
                       aria-label="{{fieldTitle}}"
                       ng-disabled="isDisabled || readOnly"
                       id="single_slider_readonly_{{field.id}}">
            </md-slider>
            <div flex="10" layout="row" layout-align="center center">
                <input flex type="number" aria-label="{{fieldTitle}}"
                       ng-model="field.Value"
                       ng-disabled="isDisabled"
                       aria-controls="single_slider_readonly_{{field.id}}">
            </div>
        </div>
    </div>
    <p class="subtext">{{fieldHintText}}</p>
</div>
<!--
<div ng-if="fieldTypeId == 12 && readonly == false">
    <div layout="column" class="magic-field-slider">
        <div class="label-item">
            <span class="title" style="color:gray;font-weight:bold;">{{fieldTitle}}</span>
        </div>
        <br>
        <div layout="row">
            <md-slider class="field-type-slider md-primary"
                       flex md-discrete
                       ng-model="field.Value"
                       ng-change="EditChanged(field.id, field.Value)"
                       min="{{minimumValue}}"
                       max="{{maximumValue}}"
                       step="{{step}}"
                       aria-label="{{fieldTitle}}"
                       id="single_slider_editable_{{field.id}}">
            </md-slider>
            <div flex="10" layout layout-align="center center">
                <input flex type="number"
                       ng-model="field.Value"
                       aria-label="{{fieldTitle}}"
                       aria-controls="single_slider_editable_{{field.id}}">
            </div>
        </div>
    </div>
    <p class="subtext">{{fieldHintText}}</p>
</div>
-->


<!-- Range Slider -->
<!--
Requirement
    1. rzslider.min.js and rzslider.css
    2. angular.module('yourApp', ['rzModule']);
-->
<md-input-container class="md-block" ng-if="fieldTypeId == 13">
    <label class="magicFieldAttributesTitle title" style="transform: translate3d(0,0,0);color:gray;font-weight:bold;">{{fieldTitle}}</label>
    <rzslider class="field-type-range-slider"
              rz-slider-model="rangeSlider.min"
              rz-slider-high="rangeSlider.max"
              rz-slider-options="rangeSlider.options">
        <!--ng-disabled="isDisabled">-->
    </rzslider>
    <p class="subtext">{{fieldHintText}}</p>
</md-input-container>

<!-- Single Address DONE -->
<div class="magic-field-address" ng-if="fieldTypeId == 14">
    <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
    <div layout="column" ng-if="!isDisabled">
        <div layout="column">
            <md-input-container class="md-block">
                <label>Address 1</label>
                <input type="text"
                       class="field-type-single-address-address1"
                       ng-model="field.address.Address1"
                       ng-change="EditChanged(field.id, field.address.Address1)">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Address 2</label>
                <input type="text"
                       class="field-type-single-address-address2"
                       ng-model="field.address.Address2"
                       ng-change="EditChanged(field.id, field.address.Address2)">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Address 3</label>
                <input type="text"
                       class="field-type-single-address-address3"
                       ng-model="field.address.Address3"
                       ng-change="EditChanged(field.id, field.address.Address3)">
            </md-input-container>
        </div>
        <div layout="row" layout-sm="column">
            <md-input-container class="md-block">
                <label>City</label>
                <input type="text"
                       class="field-type-single-address-city"
                       ng-model="field.address.Locality"
                       ng-change="EditChanged(field.id, field.address.Locality)">
            </md-input-container>
            <md-input-container class="md-block field-type-single-address-state">
                <label>State</label>
                <select class=""
                        ng-model="field.address.RegionCode"
                        ng-change="EditChanged(field.id, field.address.RegionCode)">
                    <option ng-repeat="region in regions" value="{{region.RegionCode}}">
                        {{region.RegionName}}
                    </option>
                </select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Zip</label>
                <input type="text" name="postalCode"
                       class="field-type-single-address-zip"
                       ng-pattern="/^[0-9-]*$/"
                       ng-model="field.address.PostalCode"
                       ng-change="EditChanged(field.id, field.address.PostalCode)">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block field-type-single-address-country block-group">
                <label>Country</label>
                <select class="magic-field-dropdown-multiple"
                        ng-model="field.address.CountryCode"
                        ng-change="EditChanged(field.id, field.address.CountryCode)">
                    <option ng-repeat="country in countries" value="{{country.CountryCode}}">
                        {{country.CountryName}}
                    </option>
                </select>
            </md-input-container>
            <md-input-container class="md-block validate-btn-container block-group">
                <md-button class="md-warn md-raised" flex
                           ng-click="ValidateAddress(field.id, $event)"
                           ng-disabled="isDisabled">
                    Validate
                </md-button>
            </md-input-container>
        </div>
        <p class="subtext">{{fieldHintText}}</p>
    </div>
    <div class="disabledAddress" layout="column" ng-if="isDisabled">
        <div layout="column">
            <p class="disabledAddress" ng-if="field.address.Address1">{{field.address.Address1}}</p>
            <p class="disabledAddress" ng-if="field.address.Address2">{{field.address.Address2}}</p>
            <p class="disabledAddress" ng-if="field.address.Address3">{{field.address.Address3}}</p>
        </div>
        <div layout="row">
            <div class="cityName disabledAddress">{{field.address.Locality}},</div>
            <div class="stateAbr disabledAddress">{{field.address.RegionCode}}</div>
            <div>{{field.address.PostalCode}}</div>
        </div>
        <div layout="column">
            <p></p>
            <p disabledAddress>{{field.address.CountryCode}}</p>
        </div>
    </div>
</div>

<!-- Search list -->
<div ng-if="fieldTypeId == 15" class="magic-field-searchlist">
    <label class="magicFieldAttributesTitle title" style="color:gray">{{fieldTitle}}</label>
    <div layout="row">
        <div flex="100">
            <md-autocomplete
                    md-no-cache="true"
                    md-selected-item="searchlist.selectedItem"
                    md-selected-item-change="searchlist.selectedItemChange(item); EditChanged(field.id, field.Value)"
                    md-search-text-change="searchlist.searchTextChange(searchlist.searchText)"
                    md-search-text="searchlist.searchText"
                    md-items="item in searchlist.querySearch(searchlist.searchText)"
                    md-item-text="item.DisplayText"
                    md-min-length="0"
                    ng-disabled="isDisabled"
                    placeholder="Type to search...">
                <md-item-template>
                    <span md-highlight-text="searchlist.searchText" md-highlight-flags="^i">{{item.DisplayText}}</span>
                </md-item-template>
                <md-not-found>
                    No items matching "{{searchlist.searchText}}" were found.
                </md-not-found>
            </md-autocomplete>
        </div>
    </div>
    <p class="subtext">{{fieldHintText}}</p>
</div>