<md-dialog aria-label="Create/Edit Preferences" id="editOption">
    <md-dialog-content style="max-width:600px;max-height:810px; ">
        <md-list>
            <button type="button" class="close" ng-click="CloseDialog()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="md-title ng-binding offset-10">{{ Title }}</h2>
            <div layout="column">
                <div class="row formWrapper">
                    <div class="flex-80 flex-offset-10 fieldForm form-horizontal">
                        <div class="alert alert-danger" ng-if="errors.length > 0">
                            <strong>Whoops!</strong>
                            There were some problems with the request:
                            <md-list>
                                <ul ng-repeat="error in errors">
                                    <li> {{ error.field }} {{error.message}}</li>
                                </ul>
                            </md-list>
                        </div>
                        <div class="field form-group attributeField">
                            <div layout="row">
                                <div flex="100">
                                    <md-input-container class="md-block">
                                        <label>Title</label>
                                        <input ng-model="formData.Title">
                                    </md-input-container>
                                </div>
                                <div class="helpIcon">
                                    <a href=""
                                       title="Title"
                                       data-content="This is the display title for the attribute.
                                                        This is what goes above the input field."
                                       data-toggle="popover">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="field form-group attributeField">
                            <div layout="row">
                                <div flex="100">
                                    <md-input-container class="md-block">
                                        <label>Description</label>
                                            <textarea ng-model="formData.Description"
                                                      columns="1"></textarea>
                                    </md-input-container>
                                </div>
                                <div class="helpIcon">
                                    <a href=""
                                       title="Description"
                                       data-content="This text block is displayed when the user hovers
                                                        over the ~i~ icon. This is to be helpful text explain the purpose
                                                        of this field on the form to the user."
                                       data-toggle="popover">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div layout="row" flex="grow" class="layout-row flex-grow">
                            <div class="field form-group attributeField flex-50 layout-row" layout="row">
                                <md-input-container class="md-block">
                                    <label>Field Type</label>
                                    <md-select placeholder="Field Type"
                                               ng-model="formData.FormFieldTypeId"
                                               required>
                                        <md-option ng-value="formFieldType.FormFieldTypeId"
                                                   ng-repeat="formFieldType in formFieldTypes">
                                            {{formFieldType.Title}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <div class="helpIcon">
                                    <a href=""
                                       title="Field Type"
                                       data-content="*Field Type* is the input field type to use when collecting data for this attribute.
                                                            If you select a list type, then use the table of options below for the possible values.
                                                            The 'Add New Option' button will add a new row.
                                                            The 'delete' will delete that row. Plus you can change the display order by dragging
                                                            the rows up and down."
                                       data-toggle="popover" data-placement="top">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="field form-group attributeField flex-50 layout-row" layout="row">
                                <md-input-container class="md-block">
                                    <label>Data Type</label>
                                    <md-select flex="100" placeholder="Data Type"
                                               ng-model="formData.DataTypeId"
                                               required>
                                        <md-option ng-value="dataType.DataTypeId"
                                                   ng-repeat="dataType in dataTypes">
                                            {{dataType.Title}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div class="helpIcon">
                                    <a href=""
                                       title="Data Type"
                                       data-content="*Data Type* tells the software how to interpret the data.
                                           Based on how this is set, the software puts in certain validation."
                                       data-toggle="popover">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div layout="row" flex="grow" class="layout-row flex-grow">
                            <div class="field form-group attributeField flex-50 layout-row" layout="row">
                                <md-input-container class="md-block">
                                    <label>Data Length</label>
                                    <input ng-model="formData.DataSize" type="number" step="1" flex>
                                </md-input-container>
                                <div class="helpIcon">
                                    <a href=""
                                       title="Data Length"
                                       data-content="*Data Length* tells how long the strings should be also used as part of
                                                        validation and maxlength on forms."
                                       data-toggle="popover" data-placement="top">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>

                            <div class="field form-group attributeField flex-50 layout-row" layout="row">
                                <md-input-container class="md-block">
                                    <label>Default Value</label>
                                    <input ng-model="formData.DefaultValue">
                                </md-input-container>
                                <div class="helpIcon">
                                    <a href=""
                                       title=" Default Value"
                                       data-content="*Default Value* is used when there is no specific
                                                        value stored for the client."
                                       data-toggle="popover">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Options Table -->
                        <div class="field form-group attributeField " layout="column">
                            <div layout="row">
                                <label class="flex-100">
                                    Options
                                </label>

                                <div class="helpIcon">
                                    <a href=""
                                       title="Options"
                                       data-content="Options are available when Field type of Checkbox or
                                                Radio buttons are selected."
                                       data-toggle="popover">
                                        <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                                    </a>
                                </div>
                            </div>
                            <div class="optionsTable">
                                <table class="table table-striped table-bordered table-hover" id="optionsTable">
                                    <thead>
                                    <tr>
                                        <th>Sort</th>
                                        <th>Description</th>
                                        <th>Value</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody data-ng-model="formData.Options"
                                           as-sortable="sortableOptions">
                                    <tr data-ng-repeat="option in formData.Options | orderBy:'SortOrder' "
                                        as-sortable-item
                                        ng-cloak>
                                        <td as-sortable-item-handle style="cursor: move;">
                                            <md-icon class="reorder"
                                                     md-svg-src="actions:reorder"></md-icon>
                                        </td>
                                        <td>
                                            <form name="editForm" class="form" ng-if="option.edit">
                                                <md-input-container>
                                                    <label>Description</label>
                                                    <input required name="Description"
                                                           {{--md-maxlength="256" --}}
                                                           ng-model="option.OptionDisplayText" required>

                                                    <div ng-messages="editForm.OptionDisplayText.$error">
                                                        <div ng-message="required">This field is required.</div>
                                                    </div>
                                                </md-input-container>
                                            </form>
                                            <span ng-if="!option.edit">
                                                {{ option.OptionDisplayText }}
                                            </span>
                                        </td>
                                        <td>
                                            <form name="editForm" class="form" ng-if="option.edit">
                                                <md-input-container>
                                                    <label>Value</label>
                                                    <input name="Value" ng-model="option.OptionValue">

                                                    <div ng-messages="editForm.OptionValue.$error">
                                                    </div>
                                                </md-input-container>
                                            </form>
                                            <span ng-if="!option.edit">
                                                {{ option.OptionValue }}
                                            </span>
                                        </td>
                                        <td style="white-space: nowrap">
                                            <div class="actionButtons" ng-if="option.edit">
                                                <md-button aria-label="Save" ng-click="saveOption(option)"
                                                           class="save">
                                                    <md-icon class="saveIcon"
                                                             md-svg-src="content:save"></md-icon>
                                                </md-button>
                                                <md-button
                                                        aria-label="Cancel" ng-click="cancelOption($index)"
                                                        class="cancel">
                                                    <md-icon class="cancelIcon"
                                                             md-svg-src="navigation:cancel"></md-icon>
                                                </md-button>
                                            </div>
                                            <div ng-if="!option.edit">
                                                <md-button aria-label="Edit" ng-click="editOption($index)"
                                                           class="edit">
                                                    <md-icon class="{'some-class':hovering} editIcon"
                                                             md-svg-src="editor:mode_edit"></md-icon>
                                                </md-button>
                                                <md-button aria-label="Delete"
                                                           ng-click="deleteOption($index, option, $event)"
                                                           class="delete">
                                                    <md-icon class="deleteIcon"
                                                             md-svg-src="actions:delete"></md-icon>
                                                </md-button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="addOptionButton">
                                <md-button aria-label="Add" class="md-default addOption"
                                           ng-hide="NoNeedActiveOptions()"
                                           ng-click="addOption()">
                                    <md-icon class="addIcon" md-svg-src="content:add_circle_outline"></md-icon>
                                    Add Option
                                </md-button>
                            </div>
                        </div>

                        <div class="saveAttribute" layout="row">
                            <md-button aria-label="OK"
                                       class="md-raised saveBtn"
                                       ng-click="Save($event)">
                                Save
                            </md-button>
                            <md-button aria-label="Cancel"
                                       class="md-raised cancelBtn"
                                       ng-click="CloseDialog()">
                                Cancel
                            </md-button>
                        </div>

                    </div>
                </div>
            </div>
        </md-list>
    </md-dialog-content>
    <!--<pre>{{ formData | json}}</pre>-->
</md-dialog>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: function(context, source){
                if($(source).data('placement')){
                    return $(source).data('placement');
                }else{
                    return 'auto left';
                }
            },
            trigger: "hover",
            delay: {show: 500, hide: 100}
        });
    });
</script>