<md-dialog class="clientRoleSwitchDialog" aria-label="Switch Client/Role" id="client-role-switch-dialog">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Switch Client/Role</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="overflow-x: hidden;">
                <md-input-container style="margin-right: 30px;">
                    <label>Client</label>
                    <md-select id="switchClientId" ng-model="selectedClientId" ng-change="getRoleList()">
                        <md-option id="client_{{ client.ClientId }}"
                                   ng-repeat="client in allClients"
                                   ng-value="client.ClientId">
                            {{client.Title}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container style="margin-right: 30px;">
                    <label>Role</label>
                    <md-select ng-model="selectedRoleId" required>
                        <md-option ng-repeat="role in allRoles" ng-value="role.RoleId">
                            {{role.Title}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" id="CancelBtn">
                Cancel
            </md-button>
            <md-button ng-click="submit()" class="md-primary md-raised" id="OkBtn">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>