.container-guest {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .container-guest header {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center; }
    .container-guest header .loginLogo {
      position: relative;
      margin: 25px 0;
      animation: moveInAnimation .5s ease-out; }
    .container-guest header .loginIcon {
      margin: 25px 0;
      position: relative;
      animation: moveInAnimation .6s ease-out; }
      .container-guest header .loginIcon img {
        padding: 5px;
        height: 4.125em;
        width: 4.125em;
        border-radius: 0.5em;
        background: #A6E38B;
        background: linear-gradient(-212deg, #A6E38B 0%, #A6E38B 33%, #A1DA87 50%, #7FC565 50.01%, #3c6e26 100%);
        box-shadow: 0px 4px 10px #333;
        border: #e3ffd6 0.125em solid; }
  .container-guest h1 {
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 0 1em 0;
    position: relative;
    text-align: center;
    width: 100%;
    animation: moveInAnimation .7s ease-out; }
  .container-guest .loginInformation, .container-guest .registrationBox {
    margin: auto;
    text-align: left;
    font-size: 16px;
    font-weight: 400; }
    .container-guest .loginInformation #username, .container-guest .registrationBox #username {
      position: relative;
      animation: moveInAnimation .8s ease-out;
      background: #fff url(/assets/img/icons/ic_person_black_24px.svg) no-repeat left;
      -ms-background-position-x: -145px; }
    .container-guest .loginInformation #password, .container-guest .registrationBox #password {
      position: relative;
      animation: moveInAnimation .9s ease-out;
      background: #fff url(/assets/img/icons/ic_vpn_key_black_24px.svg) no-repeat left;
      -ms-background-position-x: -145px; }
    .container-guest .loginInformation form, .container-guest .registrationBox form {
      padding: 10px; }
      .container-guest .loginInformation form input[type=text], .container-guest .loginInformation form input[type=password], .container-guest .registrationBox form input[type=text], .container-guest .registrationBox form input[type=password] {
        padding: 0 0 0 40px;
        margin-bottom: 15px;
        font-size: 1.2em;
        line-height: 1.6em;
        height: 2.2em; }
    .container-guest .loginInformation button, .container-guest .registrationBox button {
      width: 100%;
      position: relative;
      animation: moveInAnimation 1s ease-out;
      background: #ee9400;
      margin: 0 0 20px 0;
      padding: 0.4375em 0.5em;
      border: none;
      font-size: 1.2em;
      color: #fff; }
    .container-guest .loginInformation .forgotOptions, .container-guest .registrationBox .forgotOptions {
      position: relative;
      animation: moveInAnimation 1.1s ease-out;
      text-align: left; }
      .container-guest .loginInformation .forgotOptions .link, .container-guest .registrationBox .forgotOptions .link {
        margin: 0 0 10px 0; }
        .container-guest .loginInformation .forgotOptions .link:hover, .container-guest .registrationBox .forgotOptions .link:hover {
          cursor: pointer; }
      .container-guest .loginInformation .forgotOptions .link > a, .container-guest .registrationBox .forgotOptions .link > a {
        text-decoration: none;
        color: #00788a; }
      .container-guest .loginInformation .forgotOptions label, .container-guest .registrationBox .forgotOptions label {
        color: #a9bd3a;
        font-weight: 400;
        font-size: 16px; }
  .container-guest .registrationBox {
    margin: 60px auto;
    background: #ebeaeb;
    border-bottom: 5px solid #69aa1d;
    padding: 20px 0; }
    .container-guest .registrationBox > div {
      padding: 30px 110px;
      text-align: center; }
      .container-guest .registrationBox > div p {
        text-align: center;
        font-size: 1.2em; }
      .container-guest .registrationBox > div a {
        text-decoration: none;
        text-align: center;
        background: #69aa1d;
        color: white;
        padding: 0.7em;
        margin-top: 1em;
        display: block;
        font-size: 1.2em; }
        .container-guest .registrationBox > div a span {
          margin-left: 1em;
          display: inline-block;
          border: 6px solid transparent;
          border-left: 10px solid #fff; }
  .container-guest .loginInformation {
    margin-top: 60px;
    background-color: #ebeaeb;
    border-bottom: 5px solid #f5a623;
    width: 70%;
    min-width: 500px; }
    .container-guest .loginInformation > div {
      padding: 30px 110px;
      text-align: left; }
      .container-guest .loginInformation > div label {
        font-weight: 400;
        color: #444444; }
    .container-guest .loginInformation h1 {
      color: #3b8c8d;
      padding: 0.5em 0;
      border-top: 1px solid #979797;
      margin: 30px 0 0 0; }
    .container-guest .loginInformation h2 {
      color: #a9bd3a;
      padding-bottom: 0.6em;
      border-bottom: 1px solid #979797;
      margin-top: 0; }
  .container-guest .fromRegistration, .container-guest .notFromRegistration {
    width: 50%;
    margin: auto; }
  .container-guest .notFromRegistration {
    margin-bottom: 50px; }

/* ******************************************* */
/* Forgot username or password*/
/* ******************************************* */
.forgotUsername md-icon.forgotIcon, .forgotPassword md-icon.forgotIcon {
  margin: 0 5px 0 0;
  width: 35px;
  height: 35px; }

.forgotUsername md-icon, .forgotPassword md-icon {
  margin: 0 5px 0 0; }

.forgotUsername .forgotPasswordDialog p, .forgotUsername .forgotUsernamedDialog p, .forgotPassword .forgotPasswordDialog p, .forgotPassword .forgotUsernamedDialog p {
  margin: 0 0 40px 0;
  font-size: 16px; }

.forgotUsername .forgotPasswordDialog label, .forgotUsername .forgotUsernamedDialog label, .forgotPassword .forgotPasswordDialog label, .forgotPassword .forgotUsernamedDialog label {
  margin: 0 5px 0 0;
  color: #285c2a;
  font-size: 16px; }

.forgotUsername .forgotPasswordDialog input, .forgotUsername .forgotUsernamedDialog input, .forgotPassword .forgotPasswordDialog input, .forgotPassword .forgotUsernamedDialog input {
  width: 80%; }

.forgotUsername md-dialog-actions, .forgotPassword md-dialog-actions {
  border-top: solid 1px #b9b9b9; }

.forgotUsername .errMessage .alert, .forgotPassword .errMessage .alert {
  margin: 20px; }

/* ******************************************* */
/* Reset Password*/
/* ******************************************* */
md-dialog.resetPasswordContainer {
  opacity: 1;
  max-height: 100%;
  margin: 25px auto 25px;
  width: 800px;
  padding: 0px;
  border: 0px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12); }
  md-dialog.resetPasswordContainer md-icon.forgotIcon {
    margin: 0 5px 0 0;
    width: 35px;
    height: 35px; }
  md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog {
    padding: 15px; }
    md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .oldPasswordDialog {
      text-align: left;
      color: #0d0c41;
      font-size: 14px; }
      md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .oldPasswordDialog label {
        margin: 22px 0px; }
    md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .columnLeft {
      padding: 15px;
      margin: 0 10px 0 0; }
      md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .columnLeft .newPasswordDialog, md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .columnLeft .confirmPasswordDialog {
        margin: 10px 20px 0 0;
        text-align: left;
        color: #285c2a;
        font-size: 14px; }
    md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .passwordRequirements {
      margin: 0px 0 0 20px; }
      md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .passwordRequirements h4 {
        border-bottom: solid 1px #444;
        padding: 0 0 10px 0;
        color: #00008b;
        font-size: 16px; }
      md-dialog.resetPasswordContainer md-dialog-content .changePasswordDialog .passwordRequirements P {
        font-size: 16px; }
  md-dialog.resetPasswordContainer md-dialog-actions {
    border-top: solid 1px #b9b9b9; }
  md-dialog.resetPasswordContainer h4 {
    border-bottom: solid 1px #444;
    padding: 0 0 10px 0;
    color: #00008b; }
  md-dialog.resetPasswordContainer md-input-container {
    margin: 30px 0px 10px; }

/* ******************************************* */
/* Animation*/
/* ******************************************* */
/**@-webkit-keyframes moveInAnimation {
  0% {
    left: -1em;
    opacity: 0;
  }

  100% {
    left: 0em;
    opacity: 1;
  }
}

@-moz-keyframes moveInAnimation {
  0% {
    left: -1em;
    opacity: 0;
  }

  100% {
    left: 0em;
    opacity: 1;
  }
}

@-ms-keyframes moveInAnimation {
  0% {
    left: -1.25em;
    opacity: 0;
  }

  100% {
    left: 0em;
    opacity: 1;
  }
}

@-o-keyframes moveInAnimation {
  0% {
    left: -1em;
    opacity: 0;
  }

  100% {
    left: 0em;
    opacity: 1;
  }
}
**/
@keyframes moveInAnimation {
  0% {
    left: -1em;
    opacity: 0; }
  100% {
    left: 0em;
    opacity: 1; } }

.createAccount {
  background: white; }
  .createAccount .border {
    border: 1px #b9b9b9 solid; }

.container-guest .fromRegistration .loginInformation {
  margin-top: 30px; }
  .container-guest .fromRegistration .loginInformation > div {
    padding-top: 10px;
    padding-bottom: 0; }

.container-guest .fromRegistration header {
  margin-bottom: 0; }

.container-guest .fromRegistration h1 {
  margin-top: 0; }

.container-guest .fromRegistration label {
  color: #3b8c8d;
  font-weight: 400; }

.container-guest .fromRegistration .registrationBox {
  margin: 10px auto auto;
  width: 70%;
  min-width: 500px; }
  .container-guest .fromRegistration .registrationBox > div {
    padding-top: 10px;
    padding-bottom: 10px; }
    .container-guest .fromRegistration .registrationBox > div a {
      margin-top: 5px; }

/* registration.css */
.container .createAccount {
  padding: 20px;
  width: 960px;
  margin: 30px auto;
  display: block; }

.container .createAccount .loginLogo {
  height: 100%; }

.container .createAccount h4 {
  color: #2a6597;
  margin: 40px 0 20px 0;
  font-weight: 400; }

.container .createAccount h4 md-icon {
  color: #3f8c8c;
  margin: -4px 0 0 0; }

.container .createAccount .passwordRequirements {
  padding-top: 120px; }

.container .createAccount .DOB-datepicker md-container {
  width: 90%;
  color: #a8a8a8;
  font-size: 12px;
  margin: 22px; }

.container .createAccount .SSN md-container {
  width: 90%;
  color: #a8a8a8;
  font-size: 12px;
  margin: 22px; }

.container .createAccount .createUsernamePassword {
  margin: 0px; }

.container .createAccount .createUsernamePassword h3 {
  margin: 0 0 35px 0; }

.container .createAccount .createUsernamePassword md-container {
  color: red; }

.container .createAccount md-input-container, .container .createAccount .usernameInput, .container .createAccount .newPasswordDialog, .container .createAccount .confirmPasswordDialog, .container .createAccount md-container {
  width: 90%;
  color: #a8a8a8; }

.container .createAccount md-input-container .md-input {
  color: #000;
  font-size: 16px; }

.container .createAccount md-input-container label:not(.md-no-float):not(.md-container-ignore), .container .createAccount md-input-container .md-placeholder {
  color: #a8a8a8;
  font-size: 16px;
  font-weight: 400; }

.container .createAccount md-datepicker .md-datepicker-input-container {
  width: calc(100% - 66px); }

.container .createAccount md-datepicker .md-datepicker-input-container input {
  width: 100%; }

.container .createAccount .summary {
  padding: 40px 0 18px 0;
  font-size: 1.1em;
  color: #2a6597; }

.container .createAccount .submit-actions {
  padding: 20px 0;
  text-align: right; }

.container .createAccount .submit-actions .md-button {
  border-radius: 0;
  padding: 6px 40px;
  font-size: 1em; }

.passwordRequirements h4 {
  color: #444; }

.passwordRequirements > div.complete {
  color: green; }

#clientAddressSelector md-content {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto; }

#clientAddressSelector md-radio-group > .row {
  margin-left: 0; }

#clientAddressSelector md-radio-group > :nth-child(odd) {
  background: whitesmoke; }

#clientAddressSelector md-radio-group md-radio-button div.title {
  font-weight: bold; }

.container .container.createAccount.continueAccount form#formcontinue {
  width: 90%; }

/*# sourceMappingURL=guest.css.map */
