<div class="container">
  <section>
    <div class="row">
        <div class="col-md-12">
            Hi, {{username}}
        </div>
    </div>

    <demo-directive></demo-directive>
  </section>
  <div>
    <h3>for more details please read <a href="http://l-lin.github.io/angular-datatables/archives/#!/gettingStarted" target="_blank">angular-datatables</a></h3>
    <table datatable="" class="row-border hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Foo</td>
        <td>Bar</td>
      </tr>
      <tr>
        <td>123</td>
        <td>Someone</td>
        <td>Youknow</td>
      </tr>
      <tr>
        <td>987</td>
        <td>Iamout</td>
        <td>Ofinspiration</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



