<nav class="navbar navbar-default navbar-static-top" role="navigation" style="padding-left:100px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="dashboard">Demo</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a ui-sref="login" ui-sref-active="active" ng-if="!userInfo">Login</a></li>
        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
        <li><a ng-click="logout()" style="cursor: pointer">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <section ui-view="dashboard">
    <div class="row">
      <div class="col-md-12">
        <p class="text-primary">Welcome, {{userInfo.username}}</p>
      </div>
    </div>
    <div>
      <h3>get data from mock api server</h3>
      <pre>{{list|json}}</pre>
    </div>
  </section>
</div>
