<md-dialog ng-cloak class="changePasswordContainer">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-icon md-svg-icon="communication:vpn_key"></md-icon>
                <h2> Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()" ng-if="Expired!==true">
                    <md-icon md-svg-src="navigation:close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content changePasswordDialog" ng-class="{'loading':isLoading}">
                <ul ng-repeat="field in errors" class="error">
                    <li ng-repeat="error in field" class="error">{{ error }}</li>
                </ul>
                <p ng-if="Expired==true">Your password has expired and must be changed.</p>
                <!-- Change Password Form -->
                <div layout>
                    <div flex>
                        <div layout class="oldPasswordDialog">
                            <md-input-container md-no-float class="md-block" flex
                                                style="color: #0d0c41;">
                                <label>Old Password</label>
                                <input ng-model="OldPassword" class="password" type="password" id="OldPassword"
                                       required autocomplete="off">
                            </md-input-container>
                        </div>
                        <div layout class="newPasswordDialog">
                            <md-input-container md-no-float class="md-block" flex>
                                <label>New Password</label>
                                <input ng-model="NewPassword" type="password" id="NewPassword"
                                       ng-keyup="keypress($event)"
                                       ng-required="true" class="password" required autocomplete="off">
                            </md-input-container>
                        </div>
                        <div layout class="confirmPasswordDialog">
                            <md-input-container md-no-float class="md-block" flex>
                                <label>Confirm New Password</label>
                                <input ng-model="ConfirmPassword" class="password" type="password" id="ConfirmPassword"
                                       ng-keyup="keypressConfirm($event)" required autocomplete="off">
                            </md-input-container>
                        </div>
                        <div flex class="showPassword">
                            <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="showingPassword"
                                         class="md-primary">
                                Show Password
                            </md-checkbox>
                        </div>
                    </div>
                    <div flex class="passwordRequirements">
                        <h4>Password requirements</h4>
                        <div ng-repeat="pref in passwordPreferences" ng-class="{'complete': pref.Done}">
                            <p>{{ pref.Description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-sm="column" class="waiting" layout-align="space-around" ng-if="isLoading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="closeDialog()" ng-if="Expired!==true">
                Cancel
            </md-button>
            <md-button ng-click="submit()" ng-disabled="disabledSubmit" class="md-primary md-raised">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>