<md-dialog aria-label="preview dialog" id="mdDialog" class="">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h3>Preview</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content style="padding: 20px; overflow: visible">
        <div layout="row">
            <label class="flex-100">
            </label>
            <div class="helpIcon" ng-show="$preview.HelpDescription != ''">
                <a href=""
                   title="Help"
                   data-content="{{$preview.HelpDescription}}"
                   data-toggle="popover">
                    <md-icon md-svg-src="actions:help_outline" class="infoIcon"></md-icon>
                </a>
            </div>
        </div>
        <magic-field field-type-id="$preview.FieldTypeId"
                     field-title="$preview.Title"
                     field-hint-text="$preview.HintText"
                     ng-model="$preview.DefaultValue"
                     field-attributes="$preview.originParameters[$preview.FieldTypeId]"
                     options="$preview.AttributeOptions"
        >
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" class="md-raised md-primary">
            Ok
        </md-button>
    </md-dialog-actions>
</md-dialog>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            placement: "auto left",
            trigger  : "hover",
            delay    : {show: 500, hide: 100}
        });
    });
</script>
