<md-dialog aria-label="Delete dialog" id="mdDialog" class="deleteDialog">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-icon md-svg-icon="actions:delete"></md-icon>
            <h3> Delete {{ Title }}</h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()" name="CloseBtn">
                <md-icon md-svg-src="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-icon md-svg-icon="alert:warning"></md-icon>
            <h2 class="md-title">Are you sure you want to delete {{ Title }} ?</h2>
            <p ng-if="!Undone">
                <span class="error">
                    This action can not be undone!
                </span>
            </p>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" class="md-primary" name="Cancel">
            Cancel
        </md-button>
        <md-button ng-click="Delete( Id )" class="md-raised md-primary" id="DeleteBtn" name="Delete">
            Delete
        </md-button>
    </md-dialog-actions>
</md-dialog>