<md-dialog aria-label="Edit Option" id="editOption">
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-list>
            <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h2 class="md-title ng-binding">Edit Option</h2>

            <md-input-container class="md-block">
                <label>Display Text</label>
                <input md-maxlength="1024" required name="OptionDisplayText" ng-model="option.OptionDisplayText">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Option Value</label>
                <input md-maxlength="256" required name="OptionValue" ng-model="option.OptionValue">
            </md-input-container>
        </md-list>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="save(option)" class="md-primary">OK</md-button>
        <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
    </div>
</md-dialog>