<md-dialog aria-label="Error message dialog" class="errorDialog">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h3><md-icon md-svg-icon="alert:error"></md-icon>
                There was a problem with your request</h3>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-list>
            <md-list-item class="md-1-line md-long-text" ng-repeat="item in data">
                <div class="md-list-item-text">
                    <h4>{{ item.field }}</h4>
                    <p style="white-space: pre;" flex class="md-list-item-text">{{ item.message }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" class="md-primary" id="tryAgain">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>