<div class="block-item grid-block" position="{{ grid.positionAttr }}"
     ng-class="{ 'selected': grid.selected }"
     ng-style="{ 'display': grid.setVisibilityInPreview() }">
    <div class="block-tools" ng-class="{active: grid.selected}" ng-if="!grid.previewMode">
        <div class="vertical-tools">
            <button class="btn  btn-link delete-btn" title="Remove grid" id="removeGrid"
                    ng-click="grid.remove($event)">
                <md-icon md-svg-src="actions:delete"></md-icon>
            </button>
            <button class="btn btn-link config-btn" title="Grid properties" id="GridProperties"
                    ng-click="grid.updateProperty($event)">
                <md-icon md-svg-src="actions:settings"></md-icon>
            </button>
            <button class="btn btn-link up-btn" title="Move up" id="MoveUpGrid"
                    ng-class="{'disabled':grid.isTop}"
                    ng-click="grid.moveUpGrid($event)">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button class="btn btn-link down-btn" title="Move down"
                    ng-class="{'disabled':grid.isBottom}"
                    ng-click="grid.moveDownGrid($event)">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
        </div>
        <div class="column-tools" ng-class="{active: grid.selected}">
            <button class="btn-link left-add-btn" title="Add Column Before"
                    ng-click="grid.addColBefore($event)" ng-show="grid.addColumnShow">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <button class="btn-link delete-column-btn" title="Delete Column"
                    ng-click="grid.removeCol($event)">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
            <button class="btn-link right-add-btn" title="Add Column After"
                    ng-click="grid.addColAfter($event)" ng-show="grid.addColumnShow">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
        <div class="row-tools" layout="column" layout-align="space-between end" ng-class="{active: grid.selected}">
            <button class="btn btn-link top-add-btn" ng-click="grid.addRowAbove($event)"
                    title="Add row above">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <button class="btn btn-link delete-row-btn" ng-click="grid.removeRow($event)"
                    title="Delete row">
                <span class="glyphicon glyphicon-minus-sign"></span>
            </button>
            <button class="btn btn-link bottom-add-btn" ng-click="grid.addRowBelow($event)"
                    title="Add row below">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </div>
    </div>
    <table class="table grid-inner grid-table"
           ng-class="{'table-bordered': !grid.previewMode}"
           ng-click="grid.selectGrid($event)">
        <thead></thead>
        <tbody>
        </tbody>
    </table>
</div>