<md-dialog class="forgotUsername" aria-label="Reset Username" ng-cloak style="width:500px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-icon class="forgotIcon" md-menu-align-target
                     md-svg-icon="../../../assets/img/icons/ic_person_black_24px.svg" hide-sm></md-icon>
            <h2>Forgot Username</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../../../assets/img/icons/ic_close_white_24px.svg"
                         aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="alert alert-danger" ng-if="errors">
            <strong>Oops!</strong>
            There were some problems with your request:
            <ul ng-repeat="error in errors">
                <li ng-repeat="err in error">
                    {{ err }}
                </li>
            </ul>
        </div>
        <div class="md-dialog-content forgotUsernamedDialog">
            <form name="forgotUserNameForm">
                <p>Please enter your<b> Email Address</b> and an email will be sent to you with all usernames associated
                    with it.</p>
                <md-input-container md-no-float class="md-block" flex ng-show="!isLoading" style="color: #0d0c41;">
                    <label for="email" flex>Email</label>
                    <input name="email" id="email" type="email" placeholder="Email" required
                           md-autofocus ng-model="email">

                    <div ng-messages="forgotUserNameForm.email.$error">
                        <div class="ng-animate" ng-message="required">This is required.</div>
                        <div class="ng-animate" ng-message="email">Please input your email.</div>
                    </div>
                </md-input-container>

                <div layout="row" layout-sm="column" class="waiting" layout-align="space-around" ng-show="isLoading">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="answer()" class="md-primary md-raised">
            Send
        </md-button>
    </md-dialog-actions>
</md-dialog>