<table class="table table-striped table-bordered table-hover clear" style="margin-bottom: 0px;">
    <thead class="application">
    <tr>
        <th colspan="3">Matches</th>
    </tr>
    </thead>
</table>
<div class="matchTable" ng-repeat="item in match.targetMatchesData track by $index" ng-init="outerIndex = $index">

    <div style="color: #E49D25;margin-bottom: 3px" ng-if="$index > 0"><h4>OR</h4></div>
    <table class="table table-striped table-bordered table-hover clear">
        <tbody>
        <tr ng-if="$index == 0">
            <td colspan="3"><span style="color: #5597E4">AND</span></td>
        </tr>
        <tr ng-repeat="row in item track by $index">
            <td layout="row">
                <md-input-container flex="flex-30">
                    <label>Condition Type</label>
                    <md-select ng-model="row.ConditionTypeId"
                               ng-change="match.changeCondition(row.ConditionTypeId, $parent.$index, $index)"
                               name="conditiontype_{{$parent.$index}}_{{ $index }}"
                               ng-disabled="match.isTargetOwner"
                               required>
                        <md-option ng-repeat="conditiontype in match.ConditionTypes"
                                   ng-value="conditiontype.ConditionTypeId">
                            {{ ::conditiontype.Title }}
                        </md-option>
                    </md-select>
                    <div ng-messages="match.targetData['conditiontype_' + $parent.$index + '_' + $index].$error">
                    </div>
                </md-input-container>
                <div ng-show="row.ConditionTypeId && row.ConditionTypeId !=4 && row.ConditionTypeId !=3" flex="flex-20">
                    <md-input-container ng-if="(row.ConditionTypeId ==1) || (row.ConditionTypeId ==2)">
                        <label>Attribute</label>
                        <md-select ng-model="row.AttributeId"
                                   ng-change="match.changeAttribute(row)"
                                   ng-disabled="match.isTargetOwner"
                                   name="attribute_{{outerIndex}}_{{ $index }}"
                                   required>
                            <md-option ng-repeat="personAttribute in match.PersonAttributes"
                                       ng-value="personAttribute.AttributeId">
                                {{ ::personAttribute.Languages[0].Title }}
                            </md-option>
                        </md-select>
                        <div ng-messages="match.targetData['attribute_' + outerIndex + '_' + $index].$error">
                        </div>
                    </md-input-container>
                    <md-input-container ng-if="row.ConditionTypeId ==5">
                        <label>Attribute</label>
                        <md-select ng-model="row.AttributeId"
                                   ng-change="match.changeAttribute(row)"
                                   ng-disabled="match.isTargetOwner"
                                   name="attribute_{{outerIndex}}_{{ $index }}"
                                   required>
                            <md-option ng-repeat="clientAttribute in match.ClientAttribute"
                                       ng-value="clientAttribute.AttributeId">
                                {{ ::clientAttribute.Languages[0].Title }}
                            </md-option>
                        </md-select>
                        <div ng-messages="match.targetData['attribute_' + outerIndex + '_' + $index].$error">
                        </div>
                    </md-input-container>
                    <md-input-container ng-if="row.ConditionTypeId ==6">
                        <label>Attribute</label>
                        <md-select ng-model="row.AttributeId"
                                   ng-change="match.changeAttribute(row)"
                                   ng-disabled="match.isTargetOwner"
                                   name="attribute_{{outerIndex}}_{{ $index }}"
                                   required>
                            <md-option ng-repeat="formAttribute in match.FormAttribute"
                                       ng-value="formAttribute.AttributeId">
                                {{ ::formAttribute.Title }}
                            </md-option>
                        </md-select>
                        <div ng-messages="match.targetData['attribute_' + outerIndex + '_' + $index].$error">
                        </div>
                    </md-input-container>
                </div>
                <div ng-show="row.AttributeId && row.ConditionTypeId !=3 && row.ConditionTypeId != 4" layout="row"
                     flex="flex-20">
                    <md-input-container>
                        <label>Comparison</label>
                        <md-select ng-model="row.ComparisonId"
                                   ng-disabled="match.isTargetOwner"
                                   name="comparison_{{$parent.$index}}_{{ $index }}"
                                   required>
                            <md-option ng-repeat="comparison in row.Comparisons"
                                       ng-value="comparison.ComparisonId">
                                {{ ::comparison.Title }}
                            </md-option>
                        </md-select>
                        <div ng-messages="match.targetData['comparison_' + $parent.$index + '_' + $index].$error">
                        </div>
                    </md-input-container>
                    <md-input-container ng-show="row.ComparisonId">
                        <label>Value</label>
                        <input type="text" ng-model="row['MatchBags'][0].Value" ng-readonly="match.isTargetOwner"
                               name="value_{{$parent.$index}}_{{ $index }}" required>
                        <div ng-messages="match.targetData['value_' + $parent.$index + '_' + $index].$error">
                        </div>
                    </md-input-container>
                </div>
                <md-input-container ng-show="row.ConditionTypeId == 3" flex="flex-30">
                    <label>Role List</label>
                    <md-select ng-model="row['MatchBags'][0].Value"
                               name="role_{{$parent.$index}}_{{ $index }}"
                               required>
                        <md-option ng-repeat="role in match.AllRoles"
                                   ng-value="role.RoleId">
                            {{ ::role.Title }}
                        </md-option>
                    </md-select>
                    <div ng-messages="match.targetData['role_' + $parent.$index + '_' + $index].$error">
                    </div>
                </md-input-container>
            </td>
            <td class="delArea">
                <md-button aria-label="Delete" class=""
                           ng-disabled="match.isTargetOwner"
                           ng-click="match.delRow($parent.$index, $index)" title="Delete">
                    <md-icon class="deleteIcon delete"
                             md-svg-src="actions:delete">
                    </md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="addBtn">
        <md-button class="andApplicationBtn" value="AND" aria-label="and"
                   ng-disabled="match.isTargetOwner"
                   ng-click="match.addRow($index)">
            <md-icon class="addIcon" md-svg-src="content:add_circle"></md-icon>
            <span style="color: #5597E4">AND</span>
        </md-button>
    </div>

</div>
<div class="addBtn">
    <md-button class="andApplicationBtn" value="OR" aria-label="or"
               ng-disabled="match.isTargetOwner"
               ng-click="match.orMatches()">
        <md-icon class="addIcon" md-svg-src="content:add_circle"></md-icon>
        <span style="color: #5597E4" ng-if="match.targetMatchesData.length == 0">AND</span>
        <span style="color: #E49D25" ng-if="match.targetMatchesData.length > 0">OR</span>
    </md-button>
</div>